<div class="bg-gradient-to-r from-navy to-gray-900 via-gray-900 pb-32 pt-24 md:pb-32 min-h-screen">
  <div class="container">
    <div class="flex flex-col md:flex-row gap-8 md:gap-16 items-start">
      <div>
        <h1 class="mb-4 header-decoration">Contact with Me</h1>
        <p class="max-w-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias at corporis error ex
          fugiat, in minus
          omnis, placeat, quis rem sunt! Adipisci asperiores delectus dolor fugiat nemo</p>
        <div class="mt-8">
          <img class="skills-image" src="./assets/images/home/my-skills.png" alt="" aria-hidden="true">
        </div>
      </div>
      <div class="card w-full container flex flex-col gap-4">
        <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row gap-4">
          <div class="input-group">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName">
          </div>
          <div class="input-group">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName">
          </div>
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="input-group">
          <label for="message">Message:</label>
          <textarea class="min-h-[150px]" id="message"></textarea>
        </div>
        <div class="flex gap-4 mt-2">
          <button class="btn">Send Message</button>
          <button class="btn btn-dark">My Socials</button>
        </div>
      </div>
    </div>
  </div>
</div>
