<div [class]="scrollOffset > 50 ? 'bg-gray-800/20 md:backdrop-blur-lg' : ''"
     class="fixed w-full z-50 bg-gray-800 md:bg-transparent">
  <div
    class="text-white flex justify-between py-3 px-8 items-center container top-0 inset-x-0">
    <div class="font-bold text-center">
      <h1 class="text-2xl">MintMissy</h1>
    </div>
    <nav>
      <div class="md:hidden scale-125 flex">
        <i class="material-icons cursor-pointer" (click)="toggleMenu()">menu</i>
      </div>
      <ul class="hidden md:flex gap-8 p-4 text-lg">
        <li *ngFor="let link of links; let i = index;">
          <a [routerLink]="link.route">
            <span aria-hidden="true" class="text-blue-300" routerLinkActive="text-accent-400">0{{i + 1}}</span>
            {{link.text}}
          </a>
        </li>
      </ul>
      <app-menu-items [links]="links" [isClosed]="isClosed" (closeMenu)="toggleMenu()"></app-menu-items>
    </nav>
  </div>
</div>
