<div class="">
  <div class="bg-gradient-to-r from-navy to-gray-900 via-gray-900 pb-8 md:pb-32 sm:pt-20">
    <div class="relative md:flex container">
      <img src="./assets/images/home/bg-developer.png" alt="" aria-hidden="true"
           class="absolute opacity-20 left-0 bottom-1/3 sm:top-7 md:scale-75">
      <div class="max-w-xl md:max-w-sm md:text-left">
        <h1 class="text-4xl mt-14 header-decoration">Hello! I'm Dawid<br/>More known as MintMissy</h1>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed diam nonumy
          eirmod tempor invidue non.</p>
        <button class="btn mt-4 text-lg">View My Projects</button>
      </div>
      <div class="flex align-middle justify-center w-full">
        <img src="./assets/images/home/hero.png" alt="" aria-hidden="true"
             class="w-full h-auto max-w-sm pt-20 md:max-w-md lg:-mr-5 lg:mt-5">
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-r from-gray-900 via-gray-900 to-navy relative">
    <img src="./assets/images/home/section-separator.svg" alt=""
         class="absolute inset-x-0 w-full opacity-50 -top-8 sm:-top-16 md:-top-24 lg:-top-32">
    <div class="pb-32 container relative">
      <img src="./assets/images/home/bg-about.png" alt="" aria-hidden="true"
           class="hidden lg:block lg:absolute lg:opacity-10 lg:bottom-60 lg:-right-5 lg:scale-90">
      <h1 class="mt-12 sm:mt-24 md:mt-32 header-decoration">Few Words About Me</h1>
      <p class="mt-4 max-w-2xl">Long established fact that a reader will be distracted by the readable content of
        a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here'.</p>
      <div class="pt-12 flex flex-wrap gap-4 md:gap-8 max-w-3xl relative z-20">
        <div class="card--about">
          <i class="material-icons text-gradient">emoji_people</i>
          <h2>Friendly</h2>
        </div>
        <div class="card--about">
          <i class="material-icons text-gradient">sentiment_very_satisfied</i>
          <h2>Optimistic</h2>
        </div>
        <div class="card--about">
          <i class="material-icons text-gradient">lightbulb</i>
          <h2>Creative</h2>
        </div>
        <div class="card--about">
          <i class="material-icons text-gradient">search</i>
          <h2>Curious</h2>
        </div>
      </div>
    </div>
  </div>
</div>
