<div>
  <!--  HOME HERO-->
  <div class="bg-gradient-to-r from-navy to-gray-900 via-gray-900 pb-8 md:pb-32 sm:pt-20">
    <div class="relative md:flex container">
      <img src="./assets/images/home/bg-developer.png" alt="" aria-hidden="true"
           class="absolute opacity-20 left-0 bottom-1/3 sm:top-7 md:scale-75">
      <div class="max-w-xl md:max-w-sm md:text-left">
        <h1 class="text-4xl mt-14 header-decoration">Hello! I'm Dawid<br/>Also known as MintMissy</h1>
        <p class="mt-4">I'm a Front End developer - A guy that helps other people by making they creative and innovative
          ideas come true.</p>
        <button class="btn mt-4 text-lg" routerLink="/projects">My Projects</button>
      </div>
      <div class="flex align-middle justify-center w-full">
        <img src="./assets/images/home/hero.png" alt="" aria-hidden="true"
             class="w-full h-auto max-w-sm pt-20 md:max-w-md lg:-mr-5 lg:mt-5">
      </div>
    </div>
  </div>
  <!--  ABOUT ME -->
  <div class="bg-gradient-to-r from-gray-900 via-gray-900 to-navy relative pb-8">
    <img src="./assets/images/home/section-separator.svg" alt=""
         class="absolute inset-x-0 w-full opacity-50 -top-8 sm:-top-16 md:-top-24 lg:-top-32">
    <div class="pb-32 container relative">
      <img src="./assets/images/home/bg-about.png" alt="" aria-hidden="true"
           class="hidden lg:block lg:absolute lg:opacity-10 lg:bottom-60 lg:-right-5 lg:scale-90">
      <h1 class="mt-12 sm:mt-24 md:mt-32 header-decoration">Few Words About Me</h1>
      <p class="mt-4 max-w-2xl">You may think what kind of person am I. People who know me well say that I'm an honest
        and straightforward person that's deeply focused on achieving goals. I make little but continuous steps that
        make me a better person with each new day.</p>
      <div class="pt-12 flex flex-wrap gap-4 md:gap-8 max-w-3xl relative z-20">
        <div class="card card--about">
          <i class="material-icons text-gradient">emoji_people</i>
          <h2>Friendly</h2>
        </div>
        <div class="card card--about">
          <i class="material-icons text-gradient">sentiment_very_satisfied</i>
          <h2>Optimistic</h2>
        </div>
        <div class="card card--about">
          <i class="material-icons text-gradient">lightbulb</i>
          <h2>Creative</h2>
        </div>
        <div class="card card--about">
          <i class="material-icons text-gradient">search</i>
          <h2>Curious</h2>
        </div>
      </div>
    </div>
  </div>
  <!--  MY SKILLS -->
  <div class="relative -mt-24">
    <div class="relative z-10 sm:pt-16 min-h-[200px] sm:pt-0 bg-gradient-to-b from-secondary-400 to-secondary-600">
      <!-- SKILLS TOP DIVIDER -->
      <div class="divider-skills-top">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <div class="container sm:absolute top-0 left-0 right-0 z-10 mt-24">
        <div class="max-w-[1000px] card p-8 flex gap-8 mx-auto">
          <!-- SKILLS CONTENT-->
          <div>
            <h1 class="header-decoration text-white">My Skills</h1>
            <p class="pt-4 md:max-w-md text-white/95">I've been into IT industry for 5 years by now. Over this time I significantly expanded my
              programming and graphic design knowledge. Over these years I've been making websites, spigot plugins and a few games.
            </p>
          </div>
          <div class="hidden md:flex align-middle justify-center flex-1">
            <img class="skills-image" src="./assets/images/home/my-skills.png" alt="" aria-hidden="true">
          </div>
        </div>
      </div>
      <!-- SKILLS BOTTOM DIVIDER-->
      <div class="divider-skills-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <!-- MY SKILLS - 3 SKILLS -->
    <div class="container grid mt-16 gap-4 sm:mt-64 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
      <div class="card card--skill">
        <img src="./assets/images/home/skill-web-development.avif" alt="" aria-hidden="true">
        <div>
          <h2>Web Development</h2>
          <p>Angular, Typescript and SCSS are one of my various skills in this industry.</p>
          <p><i class="material-icons text-primary-400">workspace_premium</i> 2 Years of Experience</p>
        </div>
      </div>
      <div class="card card--skill">
        <img src="./assets/images/home/computer-graphics.jpg" alt="" aria-hidden="true">
        <div>
          <h2>Computer Graphics</h2>
          <p>I enjoy creating logos, banners and designs that emanate passion.</p>
          <p><i class="material-icons text-purple-400">workspace_premium</i> 3 Years of Experience</p>
        </div>
      </div>
      <div class="card card--skill">
        <img src="./assets/images/home/spigot-development.avif" alt="" aria-hidden="true" class="object-top">
        <div>
          <h2>Minecraft Development</h2>
          <p>You want a complex and well designed custom plugin? No problemo!</p>
          <p><i class="material-icons text-secondary-400">workspace_premium</i> 1 Year of Experience</p>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPERIENCE -->
  <div class="mt-8 container">
    <h1 class="header-decoration mb-4">Experience</h1>
    <p class="max-w-xl">Long established fact that a reader will be distracted by the readable content of
      a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using 'Content here, content here'.</p>
  </div>
  <!-- EXPERIENCE PANEL -->
  <div class="container flex flex-col md:flex-row gap-12">
    <!-- CONTACT -->
    <div class="flex flex-wrap md:flex-col gap-2 sm:gap-4">
      <div class="chip active" tabindex="0">2019</div>
      <div class="chip" tabindex="0">2020</div>
      <div class="chip" tabindex="0">2021</div>
      <div class="chip" tabindex="0">2022</div>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 w-full gap-8">
      <div class="card card--experience">
        <i class="material-icons text-gradient">workspace_premium</i>
        <h2>Teamwork</h2>
        <p>Learned the power of teamwork and organization while working on Archia project with other people.</p>
      </div>
      <div class="card card--experience">
        <i class="material-icons text-gradient">workspace_premium</i>
        <h2>Teamwork</h2>
        <p>Learned the power of teamwork and organization while working on Archia project with other people.</p>
      </div>
      <div class="card card--experience">
        <i class="material-icons text-gradient">workspace_premium</i>
        <h2>Teamwork</h2>
        <p>Learned the power of teamwork and organization while working on Archia project with other people.</p>
      </div>
    </div>
  </div>
  <div class="mt-24 md:mt-64 relative bg-gradient-to-b from-secondary-500 to-secondary-400 pb-20 min-h-[200px]">
    <div class="divider-contact">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="container relative z-10 md:left-0 md:right-0 md:absolute md:top-[-100%]">
      <div class="card max-w-[1000px] mx-auto p-8 flex gap-8">
        <div>
          <h1 class="header-decoration">Contact Me</h1>
          <p class="text-white/90 mt-4 max-w-xl">There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable</p>
          <div class="mt-4 flex gap-4">
            <button class="btn" routerLink="/contact">Get in Touch</button>
            <button class="btn btn-dark" routerLink="/contact">Social Media</button>
          </div>
        </div>
        <div class="hidden md:flex align-middle justify-center flex-1">
          <img class="skills-image" src="./assets/images/home/my-skills.png" alt="" aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
</div>
