@import "mixins";

.container {
  @apply pb-4 px-4 pt-8 md:p-8;
}

.card--about {
  @apply flex-1 py-8 px-6 text-center transition-transform;

  i {
    @apply text-4xl md:text-5xl scale-125 text-primary-300 transition-transform;
  }

  &:hover i {
    @apply scale-150;
  }

  h2 {
    @apply mt-5 text-white/80 text-xl md:text-2xl;
  }
}

.divider-skills-top {
  @include divider($height: 82px, $width: 100%, $transform: rotate(180deg), $top: true);
  @apply fill-secondary-400;
}

.divider-skills-bottom {
  @include divider($height: 82px, $width: 140%, $bottom: true);
  @apply fill-secondary-600;
}

.divider-contact {
  @include divider($height: 70px, $width: 200%, $transform: rotate(180deg), $top: true);
  @apply fill-secondary-500;
}

.skills-image {
  max-width: 190px;
  height: auto;
}

.card--skill {
  @apply rounded-md;

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @media sm {
      height: 200px;
    }
  }

  div {
    @apply px-8 py-4;

    h2 {
      @apply text-white/90;
    }

    p {
      @apply pt-2;
    }

    i {
      @apply align-middle mb-1 mr-1;
    }
  }
}

.card--experience {
  @apply p-4 text-center;

  i {
    @apply text-6xl;
  }

  h2 {
    @apply text-white/90;
  }
}
