@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

h1 {
  @apply font-semibold text-3xl;
}

.container{
  @apply max-w-screen-xl mx-auto overflow-hidden;
}

.header-decoration {
  @apply
  relative pl-6
  before:absolute before:left-0 before:top-0 before:-bottom-1 before:rounded-md before:w-2
  before:bg-gradient-to-b before:from-primary-400 before:to-secondary-500;
}

.btn {
  @apply
  bg-accent-300 py-2 px-4 text-gray-900 font-semibold rounded-md shadow-md cursor-pointer transition-transform
  hover:scale-105
  focus:bg-accent-400 focus:outline-none focus:scale-100;
}
