@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

h1 {
  @apply font-semibold text-3xl;
}

h2 {
  @apply font-semibold text-2xl;
}

p {
  @apply text-lg text-gray-300;
}

.container {
  @apply max-w-screen-xl mx-auto overflow-hidden;
}

.header-decoration {
  @apply
  relative pl-6
  before:absolute before:left-0 before:top-0 before:-bottom-1 before:rounded-md before:w-2
  before:bg-gradient-to-b before:from-primary-400 before:to-secondary-500;
}

.underline-animation {
  @apply
  relative
  before:absolute before:inset-x-0 before:-bottom-1 before:w-0 before:h-1 before:rounded-md before:mx-auto
  before:transition-all before:bg-gradient-to-br before:from-primary-400 before:to-secondary-400;
}

.underline-animation:hover {
  @apply before:w-full;
}

.text-gradient {
  @apply bg-gradient-to-b from-blue-300 to-green-400 text-secondary-400;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.active-link {
  @apply text-accent-400;
  background: unset;
  -webkit-text-fill-color: unset;
  -webkit-background-clip: unset;
}

.btn {
  @apply
  bg-accent-300 py-2 px-4 text-gray-900 font-semibold rounded-md shadow-md cursor-pointer transition-transform
  hover:scale-105
  focus:bg-accent-400 focus:outline-none focus:scale-100;
}

.chip {
  @apply
  py-2 px-4 text-white/95 text-lg rounded-sm shadow-md cursor-pointer transition-all
  bg-gradient-to-br from-gray-800 to-gray-800/50 relative
  hover:from-gray-700/70 hover:to-gray-700/50
  before:absolute before:left-0 before:inset-y-0 before:w-1 before:h-full before:z-10 before:bg-gradient-to-b before:hidden;

  &.active{
    @apply before:block before:from-primary-400 before:to-secondary-500;
  }
}

.card {
  @apply bg-gradient-to-br from-gray-800 to-gray-900 rounded-lg drop-shadow-lg;
}

@mixin divider($height, $width, $transform: unset, $top:false, $bottom:false) {
  @apply absolute left-0 w-full overflow-hidden;
  line-height: 0;
  transform: $transform;
  @if $top {
    top: -1 * ($height - 1);
  }
  @if $bottom {
    bottom: -1 * ($height - 1);
  }

  svg {
    @apply relative block;
    width: calc($width + 1.3px);
    height: $height;
  }
}
